extends layout

block content

	#wrapper
		#display
			include navi

			script(type='text/javascript', src='/javascripts/common.js')
			script(type='text/javascript', src='/javascripts/issue.js')				

			<input id="id" type="hidden" value="#{issue.id}"/>

			div.container.well

				h4#title.edit #{issue.title} 				
				
				span#status.label.label-success #{issue.status.name}

				div.small-info
					span created #{issue.created.toUTCString()} by #{issue.author_id === undefined ? '' : issue.author_id.login} |				
					span assigned to #{issue.assigned_id === undefined ? 'unassigned' : issue.assigned_id.login}

				hr.separator

				p#content.edit #{issue.content} 				

				hr.divider

				div#comments

				div#newComment
					a#addComment.btn.btn-primary add comment 

		include footer