extends layout

block content

	#wrapper
		#display
			include navi

			script(type='text/javascript', src='/javascripts/common.js')
			script(type='text/javascript', src='/javascripts/listissue.js')

			div.container

				h3 List of issues (#{listissues.length})

				- each issue, i in listissues			
							div.issue-list-item.col-lg-3(data-issue-id = '#{issue._id}')
								div.thumbnail
									div.caption
										div.issu-title-in-thumb
											button.remove-issue.close(type = 'button', arria-hidden = 'true') &times;
											h5.issue-title <a href='/issue/#{issue._id}'> #{issue.title} </a> 
										case issue.status.weight
											when 0
												span#status-active.pointer.label.label-default #{issue.status.name}
											when 1
												span#status-active.pointer.label.label-warning #{issue.status.name}
											when 2
												span#status-active.pointer.label.label-info #{issue.status.name}
											when 3
												span#status-active.pointer.label.label-success #{issue.status.name}

										div.small-info
											span created #{issue.created.toUTCString()} by #{(issue.author_id === null || issue.author_id === undefined) ? '' : issue.author_id.login} | 
											span assigned to #{(issue.assigned_id === null || issue.assigned_id === undefined) ? 'unassigned' : issue.assigned_id.login}

										hr.separator										
										p											
											<a href='/issue/#{issue._id}' class='btn btn-default'> view </a> 

		include footer


