extends layout

block content

	#wrapper
		#display
			include navi

			div.container

				h3 List of issues (#{listissues.length})

				- each issue, i in listissues			
							div.col-lg-3
								div.thumbnail
									div.caption
										h3 <a href='/issue/#{issue._id}'> #{issue.title} </a> 
										span#status.label.label-success #{issue.status.name}
										p #{issue.content}
										p
											a.btn.btn-primary Action
											&nbsp
											a.btn.btn-default Action	


